<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Other Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="https://www.facebook.com/photo?fbid=1477071836402747&set=a.173813240061953" alt="Icon" width="50" height="50" class="me-2"> <!-- Adjust width and height as needed -->
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>
</body>
</html>
